name: client-rust-checker

on:
  push:
  pull_request:

permissions: {}

jobs:
  cargo-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: cargo-fmt
        uses: ./.github/actions/cargo-fmt
        with:
          directory: "client/rust"

  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: cargo-clippy
        uses: ./.github/actions/cargo-clippy
        with:
          directory: "client/rust"

  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: cargo-test
        uses: ./.github/actions/cargo-test
        with:
          directory: "client/rust"
